/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
  -fx-font-size: 15pt ;
  -fx-padding:10pt;
  -fx-color:#333333;
}
.headline{
	-fx-font-size: 25pt ;
}
.navigation{
	-fx-padding:10pt;
}