/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
  -fx-font-size: 15pt ;
  -fx-padding:10 10 10 10;
  -fx-color: #333333;
  -fx-background-color: #ffffff;}
.headline{
	-fx-font-size: 25pt ;
}
.navigation{
	-fx-padding:10pt;
	-fx-border-color:#333333;
	-fx-border-width:3pt;
}
.cennterBox{
	-fx-padding:20;
}
.centerText{
	-fx-text-alignment:left;
}
.bestellbuttonCenter{
	-fx-padding:10;	
}
.table{
	
	-fx-color: #ffffff;
}
.listHeadStyle{
	-fx-font-weight:bold;
	-fx-font-size: 18pt;
}
.even{
	-fx-background-color: #DDDDDD;
}
.activeButton{
	
}
.inactiveButton{
	-fx-background-color:#cccccc;
	-fx-color:#666666;
}
.listColStyle{
	-fx-text-alignment: left;
	 -fx-border-color:#333333;
	  -fx-border-width:2pt;
}
.listHeadStyle{
	-fx-text-alignment: left;
	 -fx-border-color:#333333;
	  -fx-border-width:2pt;
}